<div>
  <div class="modal-header">
    Add Event
  </div>
  <div class="modal-body">
    <form class="event-editor">
      <table>
        <tbody>
          <tr>
            <td class="label">Start Time</td>
            <td>
              <select ng-model="eventForm.startTime.hour">
                <option ng-repeat="h in hours">{{h}}</option>
              </select>
              :
              <select ng-model="eventForm.startTime.minute">
                <option ng-repeat="m in minutes">{{m}}</option>
              </select>
              <select ng-model="eventForm.startTime.meridiem">
                <option>AM</option>
                <option>PM</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label">End Time</td>
            <td>
              <select ng-model="eventForm.endTime.hour">
                <option ng-repeat="h in hours">{{h}}</option>
              </select>
              :
              <select ng-model="eventForm.endTime.minute">
                <option ng-repeat="m in minutes">{{m}}</option>
              </select>
              <select ng-model="eventForm.endTime.meridiem">
                <option>AM</option>
                <option>PM</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label">Title</td>
            <td><input ng-model="eventForm.title" type="text"></td>
          </tr>
          <tr>
            <td class="label">Description</td>
            <td><textarea ng-model="eventForm.description" /></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer clearfix">
    <div class="pull-right">
      <button ng-click="submit()">Save</button>
      <button ng-click="$dismiss()">Cancel</button>
    </div>
  </div>
</div>
