<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl">
  <head>
    <title>Calendar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="main">
      <p>
        <button ng-click="addEvent()">Add Event</button>
      </p>
      <table class="calendar">
        <tbody>
          <tr>
            <td>
              <div class="time-label" ng-repeat="time in timeLabels">{{ time }}am</div>
              <div class="time-label" ng-repeat="time in timeLabels">{{ time }}pm</div>
            </td>
            <td class="events-container">
              <div ng-repeat="e in events" class="event {{ e.color }}" style="height: 100px" ng-style="e.style">
                <p>{{ e.startTime | formatTime }} - {{ e.endTime | formatTime }}</p>
                <p>{{ e.title }}</p>
                <p class="event-description">{{ e.description }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/moment.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/ui-modal.js"></script>
    <script src="app.js"></script>
  </body>
</html>
