<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl">
  <head>
    <title>Calendar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="main">
      <p>
        <button ng-click="addEvent()">Add Event</button>
      </p>
      <table class="calendar">
        <tbody>
          <tr>
            <td>
              <div class="time-label">12am</div>
              <div class="time-label">1am</div>
              <div class="time-label">2am</div>
              <div class="time-label">3am</div>
              <div class="time-label">4am</div>
              <div class="time-label">5am</div>
              <div class="time-label">6am</div>
              <div class="time-label">7am</div>
              <div class="time-label">8am</div>
              <div class="time-label">9am</div>
              <div class="time-label">10am</div>
              <div class="time-label">11am</div>
              <div class="time-label">12pm</div>
              <div class="time-label">1pm</div>
              <div class="time-label">2pm</div>
              <div class="time-label">3pm</div>
              <div class="time-label">4pm</div>
              <div class="time-label">5pm</div>
              <div class="time-label">6pm</div>
              <div class="time-label">7pm</div>
              <div class="time-label">8pm</div>
              <div class="time-label">9pm</div>
              <div class="time-label">10pm</div>
              <div class="time-label">11pm</div>
            </td>
            <td class="events-container">
              <div ng-repeat="e in events" class="event {{ e.color }}" ng-class="e.classes" ng-style="e.style">
                <p>{{ e.startTime | formatTime }} - {{ e.endTime | formatTime }}</p>
                <p>{{ e.title }}</p>
                <p class="event-description">{{ e.description }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/moment.js"></script>
    <script src="vendor/jquery.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/ui-modal.js"></script>
    <script src="app.js"></script>
  </body>
</html>
