html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.main {
  display: inline-block;
  min-width: 500px;
  text-align: left;
  width: 85%;
}

table {
  border-collapse: collapse;
}

.calendar {
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
}

.calendar td {
  border-right: 1px solid #ddd;
  vertical-align: top;
  padding: 0;
}

.calendar .time-label {
  border-bottom: 1px solid #ddd;
  height: 40px;
  text-align: right;
  width: 60px;
  padding: 2px;
  font-size: 12px;
}

.calendar .events-container {
  width: 100%;
  border-right: 0;
  position: relative;
}

.calendar .event {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.calendar .event.blue {
  border-color: #1587bd;
  background-color: #9fc6e7;
}

.calendar .event.overlapping {
  outline: 1px solid #fff;
}

.calendar .event p {
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
  margin: 3px;
}

.calendar .event .event-description {
  font-weight: normal;
}

/* modal styles */
.fade {
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: left;
}

.modal-dialog {
  margin: 30px auto;
  max-width: 400px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.fade .modal-dialog {
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.in .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.modal-content {
  padding: 20px;
  background: #fff;
  color: #222;
}

.modal-header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 20px;
  line-height: 1;
}

.modal-footer {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #f5f5f5;
}

.event-editor .error {
  border: 1px solid #f00;
}

.event-editor td {
  padding: 5px;
  width: 100%;
}

.event-editor .label {
  width: auto;
  text-align: right;
  vertical-align: top;
  font-size: 13px;
}

.event-editor input {
  width: 100%;
}

.event-editor textarea {
  width: 100%;
  height: 117px;
  resize: vertical;
}
